absl-py==0.10.0
appdirs==1.4.4
astunparse==1.6.3
cachetools==5.5.0
certifi==2024.7.4
cffi==1.17.1
chardet==5.2.0
charset-normalizer==2.0.12
click==5.1
cloudpickle==3.1.1
# common-python @ file:///data/projects/gorge_walk/dist/common_python-0.0.1-py3-none-any.whl#sha256=07c65e88af598cde547ba9ee19e9fe5496903ca1d7d49b928323277b1e37a23b
cos-python-sdk-v5==1.9.15
crcmod==1.7
cryptography==42.0.5
dicttoxml==1.7.16
dill==0.3.7
# dm-reverb==0.12.0
dm-tree==0.1.8
dynaconf==3.2.1
filelock==3.13.1
flatbuffers==24.3.25
gast==0.4.0
google-auth==2.34.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
# gpg==1.21.0
grpcio==1.65.5
guppy3==3.1.3
gym==0.26.2
gym-notices==0.0.8
h5py==3.10.0
idna==3.7
influxdb==5.3.1
iniconfig==2.0.0
Jinja2==3.1.3
keras==2.13.1
libclang==18.1.1
# libcomps==0.1.19
linecache2==1.0.0
linkify-it-py==2.0.3
llvmlite==0.42.0
loguru==0.6.0
lz4==3.1.10
Mako==1.2.4
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mdit-py-plugins==0.4.2
mdurl==0.1.2
memory-profiler==0.60.0
# memray==1.15.0
mpmath==1.3.0
msgpack==1.1.0
networkx==3.2.1
numba==0.59.0
numpy==1.23.5
oauthlib==3.2.2
onnx==1.17.0
opencv-python==4.5.5.64
opt-einsum==3.3.0
ordereddict==1.1
packaging==21.3
platformdirs==4.3.6
pluggy==1.5.0
portpicker==1.6.0
prettytable==3.10.0
prometheus-client==0.16.0
protobuf==4.25.0
psutil==5.8.0
py-spy==0.3.14
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybind11==2.11.0
pycparser==2.22
pycryptodome==3.21.0
pygame==2.5.2
Pygments==2.19.1
pyparsing==3.2.0
pyrasite==2.0
pystack-debugger==0.9.0
pytest==8.1.1
python-dateutil==2.8.2
python-gflags==3.1.2
python-rapidjson==1.16
pytz==2021.3
PyYAML==6.0.1
pyzmq==25.1.2
# rainbow-cpp-sdk==4.1.12
requests==2.30.0
requests-oauthlib==2.0.0
rich==13.9.4
# rpm==4.18.2
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
schedule==1.2.1
six==1.16.0
sympy==1.12
tconf==0.58
# tencent-kaiwu @ file:///data/projects/kaiwu-fwk/dist/tencent_kaiwu-0.0.1-py3-none-any.whl#sha256=cb9a6dfe68ab5cce91ad1d1457e5684d219cd347500092c637b012499f6d1214
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow==2.13.1
tensorflow-estimator==2.13.0
# tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
textual==2.1.2
# tf2onnx==1.16.1
toml==0.10.2
# torch==2.0.1+cpu
tqdm==4.65.0
traceback2==1.4.0
typeguard==4.4.2
typing_extensions==4.12.2
uc-micro-py==1.0.3
unittest2==1.1.0
urllib3==1.26.18
wcwidth==0.2.13
Werkzeug==3.0.3
wrapt==1.16.0
zstd==1.5.2.6
